/* 
 * Opts in to an updated CSS box model 
 * that will correctly set the width and height of elements.
 * 
 *
 * "The box-sizing property handles an historical oddity in CSS 
 * where adding 50 pixels of padding to an element with a width 
 * of 200 pixels would cause it to be 300 pixels wide (adding 50 
 * pixels of padding on each side), with the same being true for 
 * borders as well. When box-sizing is set to border-box, our 
 * elements respect the height and width that we set them to."
 * 
 */
html {
    box-sizing: border-box;
}

/*
 * Passes the updated CSS box model setting to every other element 
 * and pseudoelement on the page.
 */
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    pardding: 0;
    position: absolute;
}

/*
 * Uses the operating system’s default font throughout the application.
 */
body, input {
    font: menu;
}

/*
 * Removes the browser’s default highlighting around active input fields.
 *
 * The browser puts a border around whatever UI element is currently active. In macOS, this border is a blue glow.
 * It looks especially bad in our application where one-half of the UI is effectively a large text input. 
 * By setting outline to none, we remove the unnatural glow around the active element.
 */
textarea, input, div, button {
    outline: none;
    margin: 0;
}

.controls {
    background-color: rgb(217, 240, 238);
    padding: 10px;
}

button {
    font-size: 14px;
    background-color: rgb(181, 220, 216);
    border: none;
    padding: 0.5em 1em;
}

button:hover {
    background-color: rgb(156, 198, 192);
}

button:active {
    background-color: rgb(144, 181, 177);
}

button:disabled {
    background-color: rgb(196, 204, 202);
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
}

/*
 * Uses Flexbox to align the two panes of our application.
 */
.content {
    height: 100vh;
    display: flex;
}

/* 
 * Sets both panes to an equal width using Flexbox
 */
.raw-markdown, .rendered-html {
    min-height: 100%;
    width: 50%;
    max-width: 80%;
    flex-grow: 1;
    padding: 1em;
    overflow: scroll;
    font-size: 16px;
}

.raw-markdown::-webkit-scrollbar, .rendered-html::-webkit-scrollbar {
    width: 0;                      /* Hide the scrollbar track */
}

.raw-markdown {
    border: 5px solid rgb(238, 251, 250);
    background-color: rgb(238, 251, 250);
    font-family: monospace;
}

.divider {
    width: 6px;               
    cursor: col-resize;        /* Change cursor on hover to indicate resizing */
    background-color: #ccc ;
    user-select: none;         /* Prevent text selection while dragging */
}

.raw-markdown.drag-over {
    background-color: rgb(181, 220, 216);
    border-color: rgb(75, 160 151);
}

.raw-markdown.drag-error {
    background-color: rgba(170, 57, 57, 1);
    border-color: rgba(255, 170, 170, 1);
}

